*{
    margin: 0;
    padding: 0;
}

nav{
    max-width: 1420px;
    margin: 0 auto;
    /* border: blue solid 1px; */
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 30px;
}

.right-nav-container{
    display: flex;
    justify-content: space-around;
    margin-right: 50px;
    gap: 30px;

}

nav a{
    text-decoration: none;
}

.list-race-text{
    color: black;
    font-weight: 300;
    font-size: large;
}

 .nav-btn-style{
    color: #87929A;
    font-weight: 300;
    font-size: large;
 }

/* main section style start here */

main{
    
    max-width: 1420px;
    height: calc(90vh - 30px);
    margin: 0 auto;
    /* border: blue solid 1px; */
}

 .banner-sec{
   
        background-image: linear-gradient(180deg, rgba(101, 99, 99, 0.6), rgba(16, 15, 15, 15)), 
                          url(./pedro-lastra-Nyvq2juw4_o-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%; 
 }

 .bnr-title{
    text-align: center;
    color: aliceblue;
    font-size: xx-large;
    font-weight: 700;
    padding: 20px;
 }

 .bnr-text{
    text-align: center;
    color: aliceblue;
    font-size: smaller;
    font-weight: 700;
    padding: 20px;
 }



 .input-field-container{

    max-width: 1200px;
    margin: 0 auto;

 }

 input{
    width: 500px;
    height: 30px;
    padding: 10px;
    margin-top: 25PX;
    border: none;
    
 }

 button{
    width: 100px;
    height: 52px;
    padding: 15px;
    margin-left: 20px;
    background-color: #FF545A;
    border: none;
    border-radius: 2px;
 }

 .card-container{
    display: flex;
    gap: px;
    justify-content: center;
    /* position: absolute; */
    /* position: relative; */
 }

 .card{
    width: 180px;
    height: 150px;
    background-color: aliceblue;
    margin-right: 62px;
    border: none;
    box-shadow: #eaedef;
    text-align: center;
    font-size: 20px;
   margin-top: 300px;
   margin-bottom: 50px;
   border: none;
   border-radius: 5px;
 }

 .icon{
    margin-top: 15px;
  font-size: 50px;
  padding: 10px;
  }

  .pc{
    color: #87929A;
  }